body{
    background: #4b4646;
}
.menu{

    margin-left: 580px;
    margin-top: 200px;

    flex-direction: column;
    justify-content: center;
}
.orange{
    width: 170px;
    height: 50px;
    border: 4px solid orange;
    color: #e18e0f;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 15px;

}
.orange p {
    margin-left: auto;
    margin-right: auto;
}
.blue{
    width: 170px;
    height: 50px;
    border: 4px solid turquoise;
    color: turquoise;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 15px;

}
.blue p {
    margin-left: auto;
    margin-right: auto;
}
.pink{
    width: 170px;
    height: 50px;
    border: 4px solid deeppink;
    color: deeppink;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 15px;

}
.pink p {
    margin-left: auto;
    margin-right: auto;
}
.red{
    width: 170px;
    height: 50px;
    border: 4px solid red;
    color: #d70f0f;
    border-radius: 50px;
    text-align: center;
}
.red p {
    margin-left: auto;
    margin-right: auto;
}