body{
    background: silver;
}
.wrap{
    width: 900px;
    height: 505px;
    background: whitesmoke;
    margin: auto;
    border-radius: 10px;
    border: 2px solid grey;
}
.dspflex1{
    background: grey;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a {
    height: 100px;
}
.b{
    width: 730px;
    height: 365px;
}
.c{
    height: 366px;
    width: 140px;
}
.menu{
    display: flex;
}