

.divBoss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;

}
.divOne {
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    margin: 20px;

}
.btn a {
    text-decoration: none;
    color: black;
}
