
.divBossThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}
.divThree {
    border: 1px solid black;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
}