

.divBossOneInfo {
    display: block;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    padding-left: 40px;
    margin: 0 auto;
    width: 80%;
    height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;

}

.btn2 {
    margin: 0 auto;
    display: block;
    width: 80%;
    background: #FFFFFF;
}

.btn2 a {
    color: black;
    text-decoration: none;
    background: #FFFFFF;

}