.number1 {
    width: 200px;
    height: 150px;
}

.marg10px {
    margin-right: 10px;
    margin-top: 10px;
}
.margtop{
    margin-top: 10px;

}
.number2 {
    width: 1125px;
    height: 150px;
}

.number3 {
    width: 200px;
    height: 700px;
}

.number8 {
    width: 200px;
    height: 150px;
}

.number9 {
    width: 200px;
    height: 150px;
}

.number4 {
    width: 900px;
    height: 200px;
}

.number5 {
    width: 215px;
    height: 200px;
}

.dsp_flx {
    display: flex;
}

.number6 {
    width: 900px;
    height: 810px;
}

.number7 {
    width: 215px;
    height: 810px;
    margin-left: 10px;
}

.block3 {
    width: 1335px;
    height: 200px;
}

.txt {
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #d70f0f;
    border-radius: 5px;
}