.wrap {
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.block_1 {
    width: 100%;
    height: 50px;
    border: 3px solid black;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block1 {
    width: 60px;
    height: 25px;
    background-color: silver;
    border-radius: 5px;

}

.block_2 {
    width: 10%;
    border: 3px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    padding: 10px 10px;

}

.nav {
    display: flex;
    width: 100%;
}

.block_3 {
    width: 100%;
    height: 250px;
    border: 3px solid black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center_top {
    width: 90%;
}

.block3 {
    width: 90%;
    height: 220px;
    background: silver;
    border-radius: 5px;
    font-size: xx-large;
}

.block_4 {
    width: 100%;
    height: 100px;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block4 {
    width: 15%;
    height: 70px;
    background: silver;
    border-radius: 5px;
}


.block_5 {
    width: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.block5 {
    width: 150px;
    height: 100px;
    background: #c01b1b;
    border-radius: 5px;
}

.block_6 {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 20px;
    padding: 20px;

}

.block6 {
    width: 100px;
    height: 55px;
    background: #425ab7;
    border-radius: 5px;
    column-gap: 10px;
    row-gap: 10px;
}

.center_middle {
    display: flex;
}

.nav1 {
    width: 100%;
    display: flex;
}

.block_7 {
    width: 100%;
    height: 182px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block7 {
    width: 90%;
    height: 50px;
    background: silver;
    border-radius: 5px;

}

.block7_1 {
    width: 25%;
    height: 50px;
    background: silver;
    border-radius: 5px;

}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .dsp_none {
        display: none;
    }

    .wrap {
        width: 350px;
    }

    .block_1 {
        height: 150px;
        display: flex;
        justify-content: space-around;
    }

    .center_top {
        width: 100%;
    }

    .block_5 {
        display: flex;
        flex-wrap: wrap;
    }

    .block5 {
        width: 26%;
    }

    .block_6 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        box-sizing: content-box;
    }

    .center_middle {
        display: flex;
        flex-direction: column;
    }

    .block_7 {
        display: flex;
        flex-wrap: wrap;
    }

}