
.block_1{
    width: 1325px;
    height: 50px;
    border: 3px solid black;
    background: white;
    display: flex;
    justify-content: space-between;

}
.block1{
    width: 60px;
    height: 25px;
    background-color: silver;
    border-radius: 5px;
    margin: 10px;
}
.block_2{
    width: 8%;
    height: 1000px;
    border: 3px solid black;
    background: white;
}

.nav{
    display: flex;
}
.block_3{
    width: 1240px;
    height: 250px;
    border: 3px solid black;
    background: white;
}
.block3{
    width: 90%;
    height: 220px;
    background: silver;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    font-size: xx-large;
}
.block_4{
    width: 1240px;
    height: 100px;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
}
.block4{
    width: 15%;
    height: 70px;
    background: silver;
    margin-top: 15px;
    border-radius: 5px;


}
.block_5{
    width: 1000px;
    height: 450px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;

}
.block5{
    width: 15%;
    height: 50px;
    background: silver;
    margin: 50px;
    border-radius: 5px;

}

.block_6{
    width: 234px;
    height: 450px;
    border: 3px solid black;
}
.block6{
    width: 70%;
    height: 50px;
    background: silver;
    margin-top: 10px;
    margin-left: 42px;
    border-radius: 5px;

}
.center_middle{
    display: inline-flex;
}
.nav1{
    display: flex;
}
.block_7{
    width: 1240px;
    height: 182px;
    border: 3px solid black;
}
.block7{
    width: 90%;
    height: 50px;
    background: silver;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px;

}
.block7_1{
    width: 25%;
    height: 50px;
    background: silver;
    margin-top: 30px;
    margin-left: 450px;
    border-radius: 5px;

}
@media screen and (min-width: 0px) and (max-width: 768px){
    .dsp_none{
        display: none;
    }

    .block_1{
        width: 749px;
        height: 150px;
    }
    .block_3{
        width: 60%;
    }
    .block_4{
        width: 60%;
    }
    .block5{
        width: 15%;
    }
    .block_5{
        width: 60%;
    }
    .block_6{
        width: 60%;
        display: flex;
        flex-wrap: wrap;

    }
    .block6{
        width: 15%;
        margin-right: 100px;
        margin-top: 120px;
        margin-left: 120px;
    }
    .center_middle{
        display: block;
    }
    .block_7{

    }
    


}